.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px; /* Add some spacing between the logo and the text */
}
#vettras-logo{
    width: 50px;
    height: 50px;
}  