:root {
  --custom-grey: white; /* #e2e8f2; */
  --body-grey: white; /* #b6c2d3 */
  --select-grey: #ffffff;
  --hover-grey: #d8dee5;
}
/* Page specific */

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  /* padding left and right from .container-fluid scss is causing padding */
}
.container {
  padding-left: 0;
  padding-right: 0;
}
#left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html {
  background: rgb(7, 7, 29);
  background: radial-gradient(
    circle,
    rgba(7, 7, 29, 1) 100%,
    rgba(131, 58, 180, 1) 100%
  );
}
body {
  color: var(--body-grey);
  background: rgb(131, 58, 180);
  background: linear-gradient(
    126deg,
    rgba(131, 58, 180, 0.196516106442577) 0%,
    rgba(7, 7, 29, 1) 25%,
    rgba(7, 7, 29, 1) 35%,
    rgba(131, 58, 180, 0.196516106442577) 60%,
    rgba(7, 7, 29, 1) 90%
  );
  font-family: "inter", sans-serif;
}
.sticky {
  position: sticky;
  top: 3rem;
}
/* End Page specific */

/* Layout Component */
#layout-placeholder {
  width: 100%;
}
/* About Component */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  color: var(--body-grey);
}
@media (max-width: 991px) {
}
@media (min-width: 991px) {
  /* #about h1 {
    display: none;
  }
  #experience h1 {
    display: none;
  } */
  #experience {
    margin-top: 15%;
  }
  /* #projects h1 {
    display: none;
  } */
  #projects {
    margin-top: 15%;
  }
}
/* End About Component */

/* Identity Component */
@media (max-width: 991px) {
  #identity h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: var(--custom-grey);
    font-family: "inter", sans-serif;
  }

  #identity h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0.75rem;
    line-height: 1.5rem;
    color: var(--custom-grey);
    font-family: "inter", sans-serif;
  }

  #identity p {
    max-width: 30rem;
    margin-top: 1rem;
    line-height: 1.5rem;
    color: var(--body-grey);
  }
}
@media (min-width: 991px) {
  #identity h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: var(--custom-grey);
    font-family: "inter", sans-serif;
  }

  #identity h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0.75rem;
    line-height: 1.5rem;
    color: var(--custom-grey);
    font-family: "inter", sans-serif;
  }

  #identity p {
    max-width: 30rem;
    margin-top: 1rem;
    line-height: 1.5rem;
    color: var(--body-grey);
  }
}
/* End Identity Component */

/* Navigation Component  */

@media (max-width: 991px) {
  .custom-nav {
    display: none;
  }
}
@media (min-width: 991px) {
  #navigation {
    margin: 10%;
  }
}

nav {
  color: var(--custom-grey);
  font-weight: bold;
}

.custom-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.custom-nav li {
  margin: 10px 0;
  display: flex;
  align-items: center;
  position: relative;
}

.custom-nav a {
  text-decoration: none;
  color: var(--body-grey); /* Set default color here */
  transition: transform 0.3s, color 0.3s; /* Combine transitions */
  padding-left: 10px; /* Space for the line */
}

/* Horizontal lines with varying lengths */
.custom-nav li::before {
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1.5px;
  background-color: var(--body-grey);
  transition: width 0.4s; /* Keep this transition */
}

.custom-nav li:nth-child(1)::before {
  width: 30px;
}
.custom-nav li:nth-child(2)::before {
  width: 50px;
}
.custom-nav li:nth-child(3)::before {
  width: 40px;
}

/* Hover effect combined */
.custom-nav li:hover::before {
  width: 60px;
}

.custom-nav li:hover a {
  transform: translateX(10px);
}

/* Change color on hover and active */
.custom-nav li:hover a,
nav a:active,
.current {
  color: var(--hover-grey); /* Combine color changes */
}
@media (max-width: 990px) {
  .custom-nav {
    display: none;
  }

  #social-icons {
    margin-top: 10px;
  }
}
@media (min-width: 992px) {
  #social-icons {
    align-self: flex-end;
  }
}
/* End Navigation Component */

/* social media icons styling */
#social-icons {
  position: sticky;

  bottom: 20px;
  font-size: 30px;
  cursor: pointer;
}
.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-twitch:hover,
.fa-github:hover {
  color: #833ab4;
}
.fab {
  color: var(--body-grey);
  margin: 0 10px;
}

/* End social media icons styling */

/* Achievements Component */
#achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  color: var(--body-grey);
}
@media (max-width: 991px) {
  .gaper {
    padding-bottom: 50px;
  }
}
@media (min-width: 991px) {
  .gaper {
    padding-bottom: 100px;
  }
}

/* Card Styling for Achievements / Projects */
#card h4 {
  color: var(--custom-grey);
  font-weight: 500;
  font-family: "inter", sans-serif;
}

.btn-primary {
  background-color: #07071d;
  border-color: #833ab4;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0a0a2f;
  border-color: #833ab4;
}
.card {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  box-shadow: 0 10px 25px rgba(131, 58, 180, 0.1);
  border-radius: 5px;
  backdrop-filter: blur(14px);
  background-color: rgba(53, 53, 61, 0.2);
  padding: 10px;
  text-align: center;
  width: 100%;
}

.collapsible {
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: center;
  background-color: rgba(53, 53, 61, 0);
}

.noCollapse {
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: center;
  background-color: rgba(53, 53, 61, 0);
}

.content {
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
/* End of Card Styling */
