<section id="about">
  <div>
    <h1>About.</h1>
    <p class="text-center">
      Growing up in the bustling atmosphere of a family-run pizza kitchen, I was
      immersed in a world where precision, creativity, and teamwork were
      paramount. Majoring in Computer Information Systems, I discovered how
      these principles could be applied to technology. I specialize in a variety
      of
      <b
        >JavaScript Frameworks (React, Angular, Node), HTML, CSS, DynamoDB, and
        SQL.</b
      >
      <br /><br />

      I learned that no matter your path, your obstacles are made of the same
      stuff. The passion, determination, and resilience needed to run a marathon
      are the same qualities that can propel you to land on the moon. Likewise,
      my appetite for success in tech was fueled by the same love for cooking
      and creating I had already.<br /><b>I was hooked.</b><br /><br />

      In my free time, you can find me staying active, whipping up a storm in
      the kitchen or creating new things to continue <b>my journey</b> of
      helping people better their lives.<br /><br />

      So, welcome to my <b>"about me."</b> I'm Dylan, a pizza-loving,
      tech-savvy, passionate individual, always ready to share my story and
      learn from yours. Whether you're here to collaborate, learn, or just say
      hello, I'm glad our paths have crossed. <br />Let's
      <b>do something great</b> together.<br /><br />
    </p>
  </div>
</section>

<section id="experience">
  <div class="container">
    <h1>Experiences.</h1>
    <!-- Add your experience cards here -->
  </div>
</section>

<section id="projects">
  <h1 style="margin-bottom: 20px">Projects.</h1>
  <!-- Add your project cards here -->
</section>
