@import 'styles/variables';

html {
  background: rgb(7, 7, 29);
  background: radial-gradient(
    circle,
    rgba(7, 7, 29, 1) 100%,
    rgba(131, 58, 180, 1) 100%
  );
}

body {
  overscroll-behavior: none;
  color: $body-grey;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    126deg,
    rgba(131, 58, 180, 0.196516106442577) 0%,
    rgba(7, 7, 29, 1) 25%,
    rgba(7, 7, 29, 1) 35%,
    rgba(131, 58, 180, 0.196516106442577) 60%,
    rgba(7, 7, 29, 1) 90%
  );
  font-family: "inter", sans-serif;
}

// Global styles
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.content {
  background: linear-gradient(
    126deg,
    rgba(131, 58, 180, 0.196516106442577) 0%,
    rgba(7, 7, 29, 1) 25%,
    rgba(7, 7, 29, 1) 35%,
    rgba(131, 58, 180, 0.196516106442577) 60%,
    rgba(7, 7, 29, 1) 90%
  );
  min-height: 100vh;
}

// Add any other global styles here