<section id="about" class="section-spacing">
  <div class="container mt-4 pt-4">
    <!-- <h1 class="job-title text-center">About.</h1> -->
    <!-- Content of the About section goes here -->

    <p>
      Hello there! I'm Dylan, a tech enthusiast with roots making pizzas outside
      Chicago, where I learned the value of hard work and passion. These early
      lessons in the bustling kitchen have shaped my journey in technology,
      particularly in artificial intelligence, UI/UX design, and web
      development. At the University of Louisville’s President’s Office, I bring
      these values to my role as an IT student assistant, constantly exploring
      new ideas and living passionately. Off-duty, I'm an active cook and
      creator, always eager to collaborate and share stories. Let’s make
      something great together!
    </p>
    <div class="col-lg-8">
      <!-- <h3>A little about me</h3> -->
      <div class="row mt-3">
        <div class="col-md-12">
          <ul>
            <li>Name: Dylan Dombrowski</li>
            <li>Age: 21</li>
            <li>Occupation: Junior Developer @ University of Louisville</li>
          </ul>
        </div>

        <!-- <div class="text-center mb-4">
            <a href="contact.html" class="btn btn-primary">Contact Me</a>

            <a
              href="../Dylan Dombrowski Resume.pdf"
              target="_blank"
              class="btn btn-secondary"
              >View Resume</a
            >
          </div> -->
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-4">
        <img src="../img/about2.jpg" class="imageAboutPage" alt />
      </div>
    </div>
  </div>
</section>
