<section id="about">
  <div>
    <h1>About.</h1>
    <p>
      Hello there! I'm Dylan, a tech enthusiast with roots making pizzas outside
      Chicago, where I learned the value of hard work and passion. These early
      lessons in the bustling kitchen have shaped my journey in technology,<br /><br />
      particularly in artificial intelligence, UI/UX design, and web
      development. At the University of Louisville’s President’s Office, I bring
      these values to my role as an IT student assistant, constantly exploring
      new ideas and living passionately.
      <br /><br />Off-duty, I'm an active cook and creator, always eager to
      collaborate and share stories. Let’s make something great together!
    </p>
    <div class="col-lg-8">
      <div class="row mt-3">
        <div class="col-md-12">
          <ul>
            <li>Name: Dylan Dombrowski</li>
            <li>Age: 21</li>
            <li>Occupation: Junior Developer @ University of Louisville</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
