<section id="about">
  <div>
    <h1>About.<span class="chevron">&#9660;</span></h1>
    <p class="hide">
      Growing up in the bustling atmosphere of a family-run pizza kitchen, I was immersed in a world where precision,
      creativity, and teamwork were paramount. Majoring in Computer Information Systems, I discovered how these
      principles
      could be applied to technology. I specialize in Python, HTML, CSS, JavaScript, React, Node.js, SQL, Artificial
      Intelligence, and LLMs.<br /><br />

      I learned that no matter your path, your obstacles are made of the
      same stuff. The passion, determination, and resilience needed to run
      a marathon are the same qualities that can propel you to land on the
      moon. Likewise, my appetite for success in tech was fueled by the
      same love for cooking and creating I had already. I was hooked.<br /><br />

      In my free time, you can find me staying active, whipping up a storm
      in the kitchen or creating new things to continue my journey of
      helping people better their lives.<br /><br />

      So, welcome to my "about me." I'm Dylan, a pizza-loving,
      tech-savvy, passionate individual, always ready to share my story
      and learn from yours. Whether you're here to collaborate, learn, or
      just say hello, I'm glad our paths have crossed. Let's do something
      great together.
    </p>
  </div>
</section>