<section id="experience" class="section-spacing">
  <div class="container">
    <h1 class="text-center">Courses / Achievements</h1>
    <!-- Content of the Services section goes here -->
    <button type="button" class="collapsible">Open Section 2</button>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
    <div class="col-lg-12 mt-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            Computer Information Systems Development Project
          </h4>

          <p class="card-subtitle">Capstone Project (CIS 420)</p>
          <p class="card-text">
            A continuation of CIS 320, this course focuses on the detailed
            design and implementation phases of the system development life
            cycle, including user acceptance testing, test planning, design
            reviews, and change procedures. Specifications created in CIS 320
            are used to implement, test, and install a working version of an
            information system. System deployment emphasizes a web-based
            architecture. A prototyping approach is taken to develop and test
            the system in an iterative manner. Students are grouped into project
            teams, and each team member accepts task assignments necessary to
            deliver the information system prototype.
          </p>
          <a
            href="https://www.blueridgeanimalrescueandsanctuary.com/"
            class="btn btn-primary"
            >Client's Site</a
          >
        </div>
      </div>
    </div>
    <!-- Card 1 -->
    <div class="col-lg-12 mt-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            Computer Information Systems Development Project
          </h4>

          <p class="card-subtitle">Capstone Project (CIS 420)</p>
          <p class="card-text">
            A continuation of CIS 320, this course focuses on the detailed
            design and implementation phases of the system development life
            cycle, including user acceptance testing, test planning, design
            reviews, and change procedures. Specifications created in CIS 320
            are used to implement, test, and install a working version of an
            information system. System deployment emphasizes a web-based
            architecture. A prototyping approach is taken to develop and test
            the system in an iterative manner. Students are grouped into project
            teams, and each team member accepts task assignments necessary to
            deliver the information system prototype.
          </p>
          <a
            href="https://www.blueridgeanimalrescueandsanctuary.com/"
            class="btn btn-primary"
            >Client's Site</a
          >
        </div>
      </div>
    </div>
    <!-- Card 2 -->
    <div class="col-lg-12 mt-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Management of Information Systems</h4>
          <p class="card-subtitle">Capstone Course (CIS 410)</p>
          <p class="card-text">
            Explores strategic development of information technology; value
            chain analysis and its application to information resource
            management; information systems planning; organizing, staffing, and
            controlling the deployment of information technology; the
            development of an IT platform and architecture consistent with
            organizational structure.
          </p>
          <ul>
            <li>Industry Competitive Analysis</li>
            <li>Internet Enabled Business Model</li>
            <li>Porter's Five Forces</li>
          </ul>
          <!-- <a href="LINK_TO_GOOGLE_DRIVE"
                                    class="btn btn-primary">Learn more</a> -->
        </div>
      </div>
    </div>
    <!-- Card 3 -->
    <div class="col-lg-12 mt-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Software Development II</h4>
          <p class="card-subtitle">CIS 200 Course</p>
          <p class="card-text">
            This course emphasizes object-oriented software development.
            Students study the object model and apply it to systems development
            problems. Topics include polymorphism, inheritance, and object
            interaction. Event-driven programming of graphical user interfaces
            is introduced. Application areas may include data structures,
            searching, sorting, and databases. Extensive programming assignments
            are required.
          </p>
          <ul>
            <li>Big-O notation</li>
            <li>Searching and sorting algorithms</li>
            <li>LINQ query syntax</li>
          </ul>
          <!-- <a href="LINK_TO_GOOGLE_DRIVE"
                                    class="btn btn-primary">Learn more</a> -->
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Card 1 -->
      <div class="col-lg-12 mt-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Introduction to Information Security</h4>
            <p class="card-subtitle">CIS 481 Course</p>
            <p class="card-text">
              This course covers the basic notions of confidentiality,
              integrity, availability, authentication models, protection models,
              security kernels, audit, intrusion detection, operational security
              issues, physical security issues, security system life cycle
              management, personnel security, policy formation, and enforcement,
              trust modeling, risks and vulnerabilities assessment, basic issues
              of law and privacy, trade secrets, employee covenants, copyright,
              database protection, software, and hardware validation,
              verification, and certification.
            </p>
            <!-- <a href="LINK_TO_GITHUB" class="btn btn-primary">Learn
                                    more</a> -->
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-lg-12 mt-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Systems Analysis and Design</h4>
            <p class="card-subtitle">CIS 320 Course</p>
            <p class="card-text">
              This course introduces the fundamentals of object-oriented
              analysis and design, including experience with a CASE tool. Topics
              include requirements determination, feasibility analysis, modeling
              with Unified Modeling Language (UML) and data dictionary
              construction, data modeling and normalization, user interface
              requirements specification, and information security procedures.
              Development of problem and design specifications for an
              information systems project is required. Develops team skills,
              written and oral communication skills.
            </p>
            <ul>
              <li>Use Case Documentation</li>
              <li>
                Structural (UML Diagrams, E-R Diagrams, Class Diagrams, Story
                Cards)
              </li>
              <li>Behavioral (Sequence Diagrams, Process Flows)</li>
            </ul>
            <!-- <a href="LINK_TO_GOOGLE_DRIVE"
                                    class="btn btn-primary">Learn more</a> -->
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-lg-12 mt-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Database Design</h4>
            <p class="card-subtitle">CIS 310 Course</p>
            <p class="card-text">
              This course will provide a solid and practical foundation for the
              design and implementation of database systems. Emphasis will be on
              relational database models, with significant coverage of basic
              relational database concepts, normalization, E-R modeling,
              locking, SQL, and distributed databases. Additional topics include
              web databases, database security, access control policies and
              procedures, risk management, and ethical aspects of information
              handling. Course software includes current database tools such as
              SQL server.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Card 1 -->
      <div class="col-lg-12 mt-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Infrastructure Technologies</h4>
            <p class="card-subtitle">CIS 350 Course</p>
            <p class="card-text">
              This course provides an introduction to IT infrastructure issues
              and covers topics related to computer and systems architecture and
              communication networks, with an overall focus on the services and
              capabilities that IT infrastructure solutions enable in an
              organizational context. It imparted the knowledge and skills I
              would need for communicating effectively with professionals whose
              special focus is on hardware and systems software technology and
              for designing processes and solutions that require an in-depth
              understanding of the IT infrastructure capabilities and
              limitations. It also prepared me for interaction with external
              vendors of IT infrastructure components and solutions.
            </p>
            <!-- <a href="LINK_TO_GITHUB" class="btn btn-primary">Learn
                                    more</a> -->
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-lg-12 mt-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Fundamentals of Information Systems</h4>
            <p class="card-subtitle">CIS 150 Course</p>
            <p class="card-text">
              This course provides an overview of contemporary information
              systems, and how they are used in organizations. It presents an
              introduction to the discipline of CIS and how information systems
              can be used to create a competitive advantage. Topics include
              application/web development, including the system development life
              cycle, information security, business process management, and
              emerging technologies. I developed basic websites including the
              use of HTML, CSS, and Javascript.
            </p>
            <ul>
              <li>Use Case Documentation</li>
              <li>
                Structural (UML Diagrams, E-R Diagrams, Class Diagrams, Story
                Cards)
              </li>
              <li>Behavioral (Sequence Diagrams, Process Flows)</li>
            </ul>
            <!-- <a href="LINK_TO_GOOGLE_DRIVE"
                                    class="btn btn-primary">Learn more</a> -->
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-lg-12 mt-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Software Development I</h4>
            <p class="card-subtitle">CIS 199 Course</p>
            <p class="card-text">
              This course introduces object-oriented concepts such as the use of
              classes, methods, encapsulation, and inheritance. The course
              concentrates on using object-oriented programming to solve simple
              problems involving input and output.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
