<section id="experience">
  <div class="container">
    <h1>Experiences.</h1>
    <div id=jobCard class="card">
      <div class="row">
        <div class="col-lg-3 text-left">
          <p class="timeline">FEB 2023 - PRESENT</p>
        </div>
        <div class="col-lg-9 textLeft">
          <h3 id="jobTitle">IT Student Assistant • University of Louisville; President's Office</h3>
          <p id="jobDesc">As part of a three-person IT team, I handled 40% of all IT requests, managed web-related
            requests for seven university
            departments, and developed a custom FileMaker solution for biannual commencement ceremonies that reduced the
            administrative workload by 50%. I also developed a faculty salary app, showcasing my versatility and
            technical acumen.
          </p>
          <div class="tag-container">
            <span class="tag">HTML</span>
            <span class="tag">CSS</span>
            <span class="tag">JavaScript</span>
            <span class="tag">Node.js</span>
            <span class="tag">Graph API</span>
            <span class="tag">Rest API</span>
            <span class="tag">CMS</span>
            <span class="tag">Drupal</span>
            <span class="tag">Plone</span>

          </div>
        </div>
      </div>
    </div>

    <div id=jobCard class="card">
      <div class="row">
        <div class="col-lg-3 text-left">
          <p class="timeline">JAN 2024 - PRESENT</p>

        </div>
        <div class="col-lg-9 textLeft">
          <a href="https://www.stevenvanover.org/" target="_blank" class="no-style-link">
            <h3 id="jobTitle">Web Developer & Marketing Specialist • Spin For Steven Foundation</h3>
          </a>

          <p id="jobDesc">Spin For Steven Foundation in Louisville, KY improved outreach and engagement by implementing
            web analytics, redesigning
            their website, and optimizing online ad campaigns. This resulted in increased effectiveness and engagement
            rates.
          </p>
          <div class="tag-container">
            <span class="tag">Analytics</span>
            <span class="tag">Marketing</span>
            <span class="tag">Project Management</span>
            <span class="tag">Wix CMS</span>
            <span class="tag">SEO</span>
            <span class="tag">Digital Marketing</span>
            <span class="tag">Google Ads</span>

          </div>
        </div>
      </div>
    </div>

    <div id=jobCard class="card">
      <div class="row">
        <div class="col-lg-3 text-left">
          <p class="timeline">APR 2023 - PRESENT</p>
        </div>
        <div class="col-lg-9 textLeft">

          <a href="https://www.miamivalleyxpress.com/" target="_blank" class="no-style-link">
            <h3 id="jobTitle">Web Developer • Miami Valley Xpress</h3>
          </a>
          <p id="jobDesc">I developed a new website with modern design and SEO integration. This increased organic
            search rankings by 60% in the
            first year. Analytics tools were implemented to track website performance and user engagement. I also
            created a new
            slogan to enhance brand identity and ethos.
          </p>
          <div class="tag-container">
            <span class="tag">HTML</span>
            <span class="tag">CSS</span>
            <span class="tag">Project Management</span>
            <span class="tag">WordPress CMS</span>
            <span class="tag">SEO</span>
            <span class="tag">UI/UX</span>
            <span class="tag">Branding</span>

          </div>
        </div>
      </div>
    </div>

    <div id=jobCard class="card">
      <div class="row">
        <div class="col-lg-3 text-left">
          <p class="timeline">MAR 2023 - PRESENT</p>

        </div>
        <div class="col-lg-9 textLeft">
          <a href="https://www.vettras.com/" target="_blank" class="no-style-link">
            <h3 id="jobTitle">Founder & Lead Developer • Vettras Solutions</h3>
          </a>
          <p id="jobDesc">Created Vettras Solutions to expand my freelance work and provide clients with comprehensive
            support. Dedicate free time
            to building the business and delivering value to local clients.
          </p>
          <div class="tag-container">
            <span class="tag">HTML</span>
            <span class="tag">CSS</span>
            <span class="tag">JavaScript</span>
            <span class="tag">Project Management</span>
            <span class="tag">SEO</span>
            <span class="tag">Client Relations</span>

          </div>
        </div>
      </div>
    </div>

  </div>

  <table class="resume">
    <tr>
      <td><a href="Dylan Dombrowski Resume.pdf" target="_blank">View Full Résumé</a></td>
      <td>
        <a href="Dylan Dombrowski Resume.pdf" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
            <path
              d="M10 20A10 10 0 1 0 0 10a10 10 0 0 0 10 10zM8.711 4.3l5.7 5.766L8.7 15.711l-1.4-1.422 4.289-4.242-4.3-4.347z" />
          </svg>
        </a>
      </td>
    </tr>
  </table>


</section>