<section id="experience" class="section-spacing">
  <div class="container">
    <h1>Experiences.</h1>
    <div class="card">
      <div id="card" class="noCollapse">
        <h4>IT Student Assistant</h4>
      </div>

      <p>descr</p>
    </div>

    <div class="card">
      <button id="card" type="button" class="collapsible">
        <h4>Main Job</h4>
        <a
          href="https://www.blueridgeanimalrescueandsanctuary.com/"
          class="btn btn-primary"
          >Client's Site</a
        >
      </button>
      <div class="content">
        <p>descr</p>
      </div>
    </div>

    <div class="card">
      <button id="card" type="button" class="collapsible">
        <h4>Main Job</h4>
        <a
          href="https://www.blueridgeanimalrescueandsanctuary.com/"
          class="btn btn-primary"
          >Client's Site</a
        >
      </button>
      <div class="content">
        <p>descr</p>
      </div>
    </div>

    <div class="card">
      <button id="card" type="button" class="collapsible">
        <h4>Founder & Lead Developer</h4>
        <a href="https://vettras.com/" class="btn btn-primary">Client's Site</a>
      </button>
      <div class="content">
        <p>descr</p>
      </div>
    </div>
    <h1>Courses.</h1>
    <div class="card">
      <button id="card" type="button" class="collapsible">
        <h4>CIS 420 Capstone Development Project</h4>
        <a
          href="https://www.blueridgeanimalrescueandsanctuary.com/"
          class="btn btn-primary"
          >Client's Site</a
        >
      </button>
      <div class="content">
        <p>
          A continuation of CIS 320, this course focuses on the detailed design
          and implementation phases of the system development life cycle,
          including user acceptance testing, test planning, design reviews, and
          change procedures. Specifications created in CIS 320 are used to
          implement, test, and install a working version of an information
          system. System deployment emphasizes a web-based architecture. A
          prototyping approach is taken to develop and test the system in an
          iterative manner. Students are grouped into project teams, and each
          team member accepts task assignments necessary to deliver the
          information system prototype.
        </p>
      </div>
    </div>

    <div class="card">
      <button id="card" type="button" class="collapsible">
        <h4>Systems Analysis and Design</h4>
      </button>
      <div class="content">
        <p>
          CIS 320: This course introduces the fundamentals of object-oriented
          analysis and design, including experience with a CASE tool. Topics
          include requirements determination, feasibility analysis, modeling
          with Unified Modeling Language (UML) and data dictionary construction,
          data modeling and normalization, user interface requirements
          specification, and information security procedures. Development of
          problem and design specifications for an information systems project
          is required. Develops team skills, written and oral communication
          skills.
        </p>
      </div>
    </div>

    <div class="card">
      <button id="card" type="button" class="collapsible">
        <h4>Management of Information Systems</h4>
      </button>
      <div class="content">
        <p>
          CIS 410: Explores strategic development of information technology;
          value chain analysis and its application to information resource
          management; information systems planning; organizing, staffing, and
          controlling the deployment of information technology; the development
          of an IT platform and architecture consistent with organizational
          structure.
        </p>
      </div>
    </div>

    <div class="card">
      <button id="card" type="button" class="collapsible">
        <h4>Software Development I & II</h4>
      </button>
      <div class="content">
        <p class="card-text">
          CIS 199 & 200: This course emphasizes object-oriented software
          development. Students study the object model and apply it to systems
          development problems. Topics include polymorphism, inheritance, and
          object interaction. Event-driven programming of graphical user
          interfaces is introduced. Application areas may include data
          structures, searching, sorting, and databases. Extensive programming
          assignments are required.
        </p>
        <ul>
          <li>Big-O notation</li>
          <li>Searching and sorting algorithms</li>
          <li>LINQ query syntax</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <button id="card" type="button" class="collapsible">
        <h4>Introduction to Information Security</h4>
      </button>
      <div class="content">
        <p>
          CIS 481: This course covers the basic notions of confidentiality,
          integrity, availability, authentication models, protection models,
          security kernels, audit, intrusion detection, operational security
          issues, physical security issues, security system life cycle
          management, personnel security, policy formation, and enforcement,
          trust modeling, risks and vulnerabilities assessment, basic issues of
          law and privacy, trade secrets, employee covenants, copyright,
          database protection, software, and hardware validation, verification,
          and certification.
        </p>
      </div>
    </div>

    <div class="card">
      <button id="card" type="button" class="collapsible">
        <h4>Database Design</h4>
      </button>
      <div class="content">
        <p>
          CIS 310: This course will provide a solid and practical foundation for
          the design and implementation of database systems. Emphasis will be on
          relational database models, with significant coverage of basic
          relational database concepts, normalization, E-R modeling, locking,
          SQL, and distributed databases. Additional topics include web
          databases, database security, access control policies and procedures,
          risk management, and ethical aspects of information handling. Course
          software includes current database tools such as SQL server.
        </p>
      </div>
    </div>

    <div class="card">
      <button id="card" type="button" class="collapsible">
        <h4>Infrastructure Technologies</h4>
      </button>
      <div class="content">
        <p>
          CIS 350: This course provides an introduction to IT infrastructure
          issues and covers topics related to computer and systems architecture
          and communication networks, with an overall focus on the services and
          capabilities that IT infrastructure solutions enable in an
          organizational context. It imparted the knowledge and skills I would
          need for communicating effectively with professionals whose special
          focus is on hardware and systems software technology and for designing
          processes and solutions that require an in-depth understanding of the
          IT infrastructure capabilities and limitations. It also prepared me
          for interaction with external vendors of IT infrastructure components
          and solutions.
        </p>
      </div>
    </div>
  </div>
</section>
