<footer class="fixed-footer">
  <div class="container-fluid">
    <!-- Social media icons -->
    <div class="social-icons">
      <!-- Add links to social media profiles -->
      <!-- <a href="#" target="_blank"><i class="fab fa-facebook"></i></a> -->
      <a href="https://www.instagram.com/dylandombrowski/" target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>
      <a href="https://twitter.com/DylanJDombrowski" target="_blank"
        ><i class="fab fa-twitter"></i
      ></a>
      <a href="https://www.linkedin.com/in/dylandombrowski/" target="_blank"
        ><i class="fab fa-linkedin"></i
      ></a>
      <a href="https://www.twitch.tv/JungDyl" target="_blank"
        ><i class="fab fa-twitch"></i
      ></a>
      <a href="https://github.com/DylanJDombrowski" target="_blank"
        ><i class="fab fa-github"></i
      ></a>
    </div>
  </div>
</footer>
