<section class="bg-blue-500 text-white p-16" id="home">
  <div class="container-fluid">
    <div class="row">
      <!-- Left Column -->
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 left-column">
        <h1 class="name text-4xl font-bold">Dylan J. Dombrowski</h1>
        <h2 class="job-title text-2xl text-white">Web Developer</h2>
        <p class="description text-lg text-white">
          Bridging the gap between imagination and pixels, offering accessible
          products for the web and beyond.
        </p>
        <!-- Social media icons -->
        <div id="social-icons-placeholder"></div>

        <div class="nav-list">
          <ul class="navbar-nav ms-auto space-x-4">
            <li class="nav-item">
              <a class="nav-link text-white" href="pages/about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="pages/achievements.html"
                >Achievements</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="pages/projects.html"
                >Projects</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-white"
                href="Dylan Dombrowski Resume.pdf"
                target="_blank"
                >Resume</a
              >
            </li>
          </ul>
        </div>
      </div>

      <!-- Right Column (Initially Hidden on Small Screens) -->
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 right-column">
        <div id="about-placeholder"></div>
      </div>
    </div>
  </div>
</section>
