<section class="bg-blue-500 text-white p-16" id="home">
  <div class="container-fluid">
    <div class="row">
      <!-- Left Column -->
      <div
        class="col-lg-6 col-md-12 col-sm-12 col-xs-12 lg:sticky lg:top-0 lg:z-50"
      >
        <h1
          class="text-4xl font-bold tracking-tight text-slate-200 sm:text-5xl"
        >
          Dylan J. Dombrowski
        </h1>
        <h2
          class="mt-3 text-lg font-medium tracking-tight text-slate-200 sm:text-xl"
          style="color: var(--body-grey)"
        >
          Web Developer
        </h2>
        <p class="mt-4 max-w-xs leading-normal" style="color: var(--body-grey)">
          Bridging the gap between imagination and pixels, offering accessible
          products for the web and beyond.
        </p>
        <!-- Social media icons -->
        <div id="social-icons-placeholder"></div>

        <div class="nav-list">
          <ul class="navbar-nav ms-auto space-x-4">
            <li class="nav-item" style="color: var(--body-grey)">
              <a
                class="nav-link"
                style="color: var(--body-grey)"
                href="pages/about.html"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                style="color: var(--body-grey)"
                href="pages/achievements.html"
                >Achievements</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                style="color: var(--body-grey)"
                href="pages/projects.html"
                >Projects</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                style="color: var(--body-grey)"
                href="Dylan Dombrowski Resume.pdf"
                target="_blank"
                >Resume</a
              >
            </li>
          </ul>
        </div>
      </div>

      <!-- Right Column (Initially Hidden on Small Screens) -->
      <div
        class="col-lg-6 col-md-12 col-sm-12 col-xs-12 right-column overflow-y-auto"
      >
        <div id="about-placeholder"></div>
      </div>
    </div>
  </div>
</section>
