<nav class="navbar navbar-expand-lg navbar-dark navbarScroll">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">
      <!-- <img id="vettras-logo" src="img/vettras-logo-rs.svg" alt="Vettras Logo" class="d-inline-block align-text-bottom"> -->
      Dylan J. Dombrowski
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pages/about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pages/achievements.html">Achievements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pages/projects.html">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Dylan Dombrowski Resume.pdf" target="_blank"
            >Resume</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pages/contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
