<section>
  <div
    class="col-lg-6 col-md-12 col-sm-12 col-xs-12 lg:sticky lg:top-0 lg:z-50"
  >
    <h1 class="text-4xl font-bold tracking-tight text-slate-200 sm:text-5xl">
      Dylan J. Dombrowski
    </h1>
    <h2
      class="mt-3 text-lg font-medium tracking-tight text-slate-200 sm:text-xl"
      style="color: var(--body-grey)"
    >
      Web Developer
    </h2>
    <p class="mt-4 max-w-xs leading-normal" style="color: var(--body-grey)">
      Bridging the gap between imagination and pixels, offering accessible
      products for the web and beyond.
    </p>
  </div>
</section>
