<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-6" id="left-column">
        <!-- Content for the first column goes here -->
        <div class="sticky" id="header"></div>
        <div id="social-icons-placeholder"></div>
      </div>
      <div class="col-lg-6" id="right-column">
        <!-- Content for the second column goes here -->
        <div id="about-placeholder"></div>
        <div id="achievements-placeholder"></div>
        <div id="projects-placeholder"></div>
      </div>
    </div>
  </div>
</body>
