<section>
  <div class="nav-list">
    <ul class="navbar-nav ms-auto space-x-4">
      <li class="nav-item" style="color: var(--body-grey)">
        <a
          class="nav-link"
          style="color: var(--body-grey)"
          href="pages/about.html"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          style="color: var(--body-grey)"
          href="pages/achievements.html"
          >Achievements</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          style="color: var(--body-grey)"
          href="pages/projects.html"
          >Projects</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          style="color: var(--body-grey)"
          href="Dylan Dombrowski Resume.pdf"
          target="_blank"
          >Resume</a
        >
      </li>
    </ul>
  </div>
</section>
