<section id="projects" class="section-spacing">
  <div class="container mt-3">
    <h1 class="text-center">Portfolio</h1>
    <!-- Content of the Portfolio section goes here -->
    <div class="row">
      <div class="col-lg-4 mt-4">
        <div class="card">
          <img
            class="card-img-top"
            src="../img/AISummarizerApp.png"
            alt="Card image"
            style="width: 100%" />
          <div class="card-body">
            <h4 class="card-title">AI Text Summarizer App</h4>
            <p class="card-text">
              A full-stack web application that provides an interface for users
              to input large bodies of text and receive concise summaries. This
              project is an excellent example of how modern web development and
              AI technologies can be integrated to create practical and
              user-friendly applications.
            </p>
            <div class="text-center">
              <a
                href="https://replit.com/@CodeWithDyl/AI-Text-Summarizer-App-Dylans-Version"
                class="btn btn-success">Replit</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mt-4">
        <div class="card portfolioContent">
          <img
            class="card-img-top"
            src="../img/Calculator.png"
            alt="Card image"
            style="width: 100%" />
          <div class="card-body">
            <h4 class="card-title">Calculator App</h4>
            <p class="card-text">
              user-friendly web calculator designed using HTML, CSS, and
              JavaScript. It features an intuitive interface, allowing users to
              perform basic arithmetic operations with ease. This project
              showcases my skills in front-end development, including responsive
              design and interactive elements, providing a seamless calculation
              experience across various devices.
            </p>
            <div class="text-center">
              <a
                href="https://github.com/DioBytes/Calculator"
                class="btn btn-success">GitHub</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mt-4">
        <div class="card portfolioContent">
          <img
            class="card-img-top"
            src="../img/SeleniumBot.png"
            alt="Card image"
            style="width: 100%" />
          <div class="card-body">
            <h4 class="card-title">JobFinder Bot</h4>
            <p class="card-text">
              JobFinder Bot is an automated tool developed using Selenium,
              designed to surf the web and aggregate job listings. It
              efficiently collects data from multiple online job portals,
              providing users with a consolidated view of current job
              opportunities. This project demonstrates my proficiency in web
              automation and data scraping, offering a practical solution for
              job seekers to navigate the vast online job market.
            </p>
            <div class="text-center">
              <a
                href="https://github.com/DioBytes/Selenium"
                class="btn btn-success">GitHub</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <!-- <div class="row">
                <div class="col-lg-4 mt-4">
                  <div class="card portfolioContent">
                    <img
                      class="card-img-top"
                      src="img/portfolioImage4.jpg"
                      alt="Card image"
                      style="width: 100%" />
                    <div class="card-body">
                      <h4 class="card-title">Messaging Service</h4>
                      <p class="card-text">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.
                      </p>
                      <div class="text-center">
                        <a href="#" class="btn btn-success">Link</a>
                      </div>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-4 mt-4">
                  <div class="card portfolioContent">
                    <img
                      class="card-img-top"
                      src="img/portfolioImage1.jpg"
                      alt="Card image"
                      style="width: 100%" />
                    <div class="card-body">
                      <h4 class="card-title">Twitter Clone</h4>
                      <p class="card-text">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.
                      </p>
                      <div class="text-center">
                        <a href="#" class="btn btn-success">Link</a>
                      </div>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-4 mt-4">
                  <div class="card portfolioContent">
                    <img
                      class="card-img-top"
                      src="img/portfolioImage4.jpg"
                      alt="Card image"
                      style="width: 100%" />
                    <div class="card-body">
                      <h4 class="card-title">Blog App</h4>
                      <p class="card-text">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.
                      </p>
                      <div class="text-center">
                        <a href="#" class="btn btn-success">Link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
  </div>
</section>
