<div class="social-icons">
  <a href="https://www.instagram.com/dylandombrowski/" target="_blank"
    ><i class="fab fa-instagram"></i
  ></a>
  <a href="https://twitter.com/DylanJDombrowski" target="_blank"
    ><i class="fab fa-twitter"></i
  ></a>
  <a href="https://www.linkedin.com/in/dylandombrowski/" target="_blank"
    ><i class="fab fa-linkedin"></i
  ></a>
  <a href="https://www.twitch.tv/JungDyl" target="_blank"
    ><i class="fab fa-twitch"></i
  ></a>
  <a href="https://github.com/DylanJDombrowski" target="_blank"
    ><i class="fab fa-github"></i
  ></a>
</div>
