@import '../../styles/variables';

.content {
  min-height: 100vh;
}

#left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sticky {
  position: sticky;
  top: 3rem;
}

// Add any other layout-specific styles here